<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlAllRelations_14.Properties.Settings.Db20Lesson20Project14ConnectionString"
            connectionString="Data Source=DESKTOP-NM06KEK\SQLKODLAR;Initial Catalog=Db20Lesson20Project14;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>